.details-header {
	width: 100%;
	height: 1rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
}
.details-header .back {
	width: 0.8rem;
	height: 0.8rem;
	background-image: url('../images/home/goods/back.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
}
.details-header .tab-wrap {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.tab-wrap .active {
	border-bottom: 2px solid #fda208;
}
.details-header .tab-wrap .tab-name {
	width: auto;
	height: 96%;
	overflow: hidden;
	line-height: 1rem;
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;
	font-size: 0.36rem;
}
.details-header .cart-icon {
	width: 0.8rem;
	height: 0.8rem;
	background-image: url('../images/home/goods/cart.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	margin-right: 0.2rem;
	position: relative;
	z-index: 1;
}
.details-header .cart-icon .spot {
	width: 0.2rem;
	height: 0.2rem;
	background-color: #cc0004;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0.15rem;
}
.sub-page {
	width: 100%;
}
.page {
	margin-top: 1.2rem;
}
.swpier-wrap {
	width: 100%;
	height: 7rem;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-top: 1.2rem;
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 10;
}
.swiper-container-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet {
	margin: 0 5px;
}
.goods-ele-main {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.goods-ele-main .goods-title {
	width: 90%;
	font-size: 0.28rem;
	margin: 0 auto;
}
.goods-ele-main .price {
	color: #f93036;
	width: 90%;
	margin: 0 auto;
	margin-top: 0.2rem;
	font-size: 0.32rem;
}
.goods-ele-main .sales-wrap {
	width: 90%;
	margin: 0 auto;
	font-size: 0.24rem;
	color: #969696;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-top: 0.2rem;
}
.reviews-main {
	width: 100%;
	background-color: #fff;
	margin-top: 0.5rem;
	overflow: hidden;
	padding-bottom: 1.7rem;
}
.reviews-main .reviews-title {
	color: #7b7f82;
	font-size: 0.32rem;
	width: 90%;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.reviews-main .reviews-wrap {
	width: 90%;
	margin: 0 auto;
}
.reviews-main .reviews-wrap .reviews-list {
	width: 100%;
	margin-top: 0.4rem;
}
.reviews-main .reviews-list .uinfo {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	height: 0.6rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
}
.reviews-main .reviews-list .uinfo .head {
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.2rem;
}
.reviews-main .reviews-list .uinfo .head img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.reviews-main .reviews-list .uinfo .nickname {
	width: auto;
	font-size: 0.28rem;
}
.reviews-main .reviews-list .reviews-content {
	width: 100%;
	margin: 0 auto;
	font-size: 0.28rem;
	margin-top: 0.2rem;
}
.reviews-main .reviews-list .reviews-date {
	width: auto;
	font-size: 0.28rem;
	color: #7b7f82;
	margin-top: 0.2rem;
}
.reviews-main .reviews-more {
	width: 2.44rem;
	height: 0.56rem;
	border: 1px solid #d50a17;
	line-height: 0.56rem;
	text-align: center;
	font-size: 0.28rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	border-radius: 0.1rem;
}
.bottom-btn-wrap {
	width: 100%;
	height: 1.2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
}
.bottom-btn-wrap .btn {
	width: auto;
	height: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.2rem;
}
.bottom-btn-wrap .btn.fav {
	background-color: #fcb40a;
}
.bottom-btn-wrap .btn.cart {
	background-color: #cc0004;
}
.van-toast--html,
.van-toast--text {
	width: -webkit-fit-content;
	width: fit-content;
	min-width: 96px;
	min-height: unset;
	padding: 8px 12px;
}
.van-toast {
	position: fixed;
	top: 50%;
	left: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
	width: 20px;
	max-width: 70%;
	min-height: 20px;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	white-space: pre-wrap;
	text-align: center;
	word-wrap: break-word;
	background-color: rgba(50, 50, 51, 0.88);
	border-radius: 4px;
	transform: translate3d(-50%, -50%, 0);
}
.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.3);
}
.cart-panel {
	width: 100%;
	height: 60%;
	position: fixed;
	z-index: 12;
	left: 0;
	bottom: 0;
	background-color: #f5f5f9;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transition: transform 0.3s;
}
.up {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.down {
	transform: translateY(120%);
}
.cart-panel .goods-info {
	width: 98%;
	height: 1.22rem;
	border-bottom: 1px solid #efefef;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
	padding-left: 0.2rem;
	position: relative;
	z-index: 1;
	background-color: #fff;
}
.cart-panel .close-panel-wrap {
	width: 0.6rem;
	height: 1.2rem;
	position: absolute;
	right: -0.2rem;
	top: -1rem;
	z-index: 2;
}
.cart-panel .close-panel-wrap .spot {
	width: 0.12rem;
	height: 0.12rem;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	background-color: #000;
	border-radius: 100%;
}
.cart-panel .close-panel-wrap .line {
	width: 1px;
	height: 0.72rem;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	left: 0.05rem;
	bottom: 0.05rem;
}
.cart-panel .close-panel-wrap .close {
	width: 0.4rem;
	height: 0.4rem;
	background-image: url('../images/home/goods/x.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	position: absolute;
	left: -0.14rem;
	top: 0.1rem;
	z-index: 1;
}
.cart-panel .goods-info .goods-img {
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.3rem;
}
.cart-panel .goods-info .goods-wrap {
	width: 80%;
	height: auto;
}
.cart-panel .goods-info .goods-wrap .goods-title {
	width: 100%;
	height: 0.7rem;
	font-size: 0.24rem;
	overflow: hidden;
}
.cart-panel .goods-info .goods-wrap .price {
	color: #f93036;
	font-size: 0.24rem;
}
.cart-panel .goods-info .goods-wrap .goods-code {
	color: #888;
	font-size: 0.24rem;
	position: absolute;
	z-index: 1;
	right: 0.2rem;
	bottom: 0;
}
.cart-panel .attr-wrap {
	width: auto;
	max-height: 3.5rem;
	padding-left: 0.2rem;
	background-color: #fff;
	overflow-y: scroll;
}
.cart-panel .attr-wrap .attr-list {
	width: 100%;
	height: auto;
	margin-top: 0.2rem;
}
.cart-panel .attr-list .attr-name {
	width: auto;
	font-size: 0.32rem;
}
.cart-panel .attr-list .val-wrap {
	width: auto;
	margin-top: 0.2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.cart-panel .attr-list .val-wrap .val {
	background: #efefef;
	font-size: 0.32rem;
	padding: 0.1rem 0.2rem;
	border-radius: 0.1rem;
	margin-right: 0.17rem;
	display: table;
	margin-bottom: 0.17rem;
}
.cart-panel .attr-list .val-wrap .active {
	color: #fff;
	background-color: #fda208;
}
.cart-panel .amount-wrap {
	width: auto;
	padding-left: 0.2rem;
	padding-top: 0.2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	height: 0.64rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
	background-color: #fff;
	padding-bottom: 0.3rem;
}
.cart-panel .amount-wrap .amount-name {
	width: auto;
	font-size: 0.32rem;
}
.cart-panel .amount-wrap .amount-input-wrap {
	width: 2.04rem;
	height: 0.64rem;
	border: 1px solid #000;
	margin-right: 0.2rem;
	border-radius: 0.08rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
}
.cart-panel .amount-wrap .amount-input-wrap .btn {
	width: 0.6rem;
	height: 0.4rem;
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.4rem;
}
.cart-panel .amount-wrap .amount-input-wrap .dec {
	font-size: 18px;
	border-right: 1px solid #000;
}
.cart-panel .amount-wrap .amount-input-wrap .active {
	color: #b5b5b5;
}
.cart-panel .amount-wrap .amount-input-wrap .amount-input {
	width: 0.76rem;
	height: 100%;
}
.cart-panel .amount-wrap .amount-input-wrap .amount-input input {
	width: 100%;
	height: 70%;
	text-align: center;
	font-size: 18px;
	margin-top: 0.1rem;
}
.cart-panel .amount-wrap .amount-input-wrap .inc {
	font-size: 18px;
	border-left: 1px solid #000;
}
.cart-panel .sure-btn {
	width: 100%;
	height: 0.8rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	color: #fff;
	font-size: 0.32rem;
	background-color: #cf0005;
	text-align: center;
	line-height: 0.8rem;
}
.content {
	width: 90%;
	margin: 0 auto;
	font-size: 0.32rem;
	line-height: 0.5rem;
}
.content p {
	margin-top: 0.4rem;
}
.no-data {
	text-align: center;
	font-size: 0.32rem;
	margin-top: 0.3rem;
}
