body {
	font-size: 16px;
}
img {
	width: 100%;
	height: 100%;
}
.page {
	width: 100%;
	background-color: #efefef;
	min-height: 100%;
	margin-bottom: 1.5rem;
}
.header {
	width: 100%;
	height: 1rem;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	background: linear-gradient(rgba(1, 1, 1, 0.2), hsla(0, 0%, 100%, 0));
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.3rem;
	box-sizing: border-box;
}
.scroll {
	background: linear-gradient(#eb1625, hsla(0, 0%, 100%, 0));
}
.header .my-icon {
	width: 0.6rem;
	height: 0.6rem;
	background-image: url('../images/home/index/my.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.header .classify-icon {
	width: 0.6rem;
	height: 0.6rem;
	background-image: url(../images/common/class.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.header .search-wrap {
	width: 5.26rem;
	height: 0.53rem;
	background-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 4px;
	display: flex;
	align-items: center;
}
.header .search-icon {
	width: 0.44rem;
	height: 0.44rem;
	background-image: url(../images/common/search.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.header .search-wrap .text {
	font-size: 0.32rem;
	color: #fff;
}
.header .login {
	width: auto;
	height: 0.44rem;
	font-size: 0.32rem;
	color: #fff;
}
.banner-wrap {
	width: 100%;
	height: 3.66rem;
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	box-sizing: content-box;
}
.swiper-slide {
	flex-shrink: 0;
	height: 100%;
	position: relative;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: 0.3s;
	transform: translateZ(0);
	z-index: 10;
}
.quick-nav {
	width: 100%;
	height: 1.6rem;
	background-color: #fff;
	margin-top: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.quick-nav .item {
	width: 1.4rem;
}
.quick-nav .item :first-child {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 auto;
}
.quick-nav .item :nth-child(2) {
	font-size: 0.28rem;
	color: #7b7f82;
	text-align: center;
	margin-top: 0.2rem;
}
.goods-main {
	width: 100%;
	height: 7.36rem;
	background-color: #fff;
	margin-top: 0.2rem;
}
.goods-main .classify-name {
	width: 100%;
	height: 0.64rem;
	border-bottom: 1px solid #efefef;
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.64rem;
}
.color-0 {
	color: #f73b61;
}
.color-1 {
	color: #fe6719;
}
.color-2 {
	color: #5fc600;
}
.goods-main .goods-row-1 {
	width: 100%;
	height: 3.5rem;
	border-bottom: 1px solid #efefef;
	display: flex;
	overflow: hidden;
}
.goods-main .goods-row-1 .goods-column,
.goods-main .goods-row-1 .goods-column-2 {
	width: 50%;
	height: 100%;
	border-right: 1px solid #efefef;
	position: relative;
}
.goods-main .goods-row-1 .goods-column .goods-title {
	width: 95%;
	height: 0.32rem;
	overflow: hidden;
	position: absolute;
	left: 0.2rem;
	top: 0.2rem;
	font-size: 0.28rem;
	font-weight: 700;
}
.goods-main .goods-row-1 .goods-column .goods-tip {
	width: auto;
	height: auto;
	font-size: 0.28rem;
	color: #cb385d;
	position: absolute;
	left: 0.2rem;
	top: 0.6rem;
}
.goods-main .goods-row-1 .goods-column .goods-price.bg-color-0 {
	background-color: #f21d4f;
}
.goods-main .goods-row-1 .goods-column .goods-price {
	width: auto;
	height: 0.4rem;
	border-radius: 10px;
	position: absolute;
	right: 1rem;
	top: 0.6rem;
	color: #fff;
	font-size: 0.28rem;
}
.goods-main .goods-row-1 .goods-column .goods-image {
	width: 3rem;
	height: 2rem;
	position: absolute;
	left: 0.35rem;
	bottom: 0.3rem;
}
.goods-main .goods-row-1 .goods-column .goods-list {
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #efefef;
	position: relative;
}
.goods-main .goods-row-1 .goods-column .goods-list-title {
	width: 2.04rem;
	height: 0.32rem;
	overflow: hidden;
	font-size: 0.28rem;
	font-weight: 700;
	position: absolute;
	z-index: 1;
	left: 0.2rem;
	top: 0.2rem;
}
.goods-main .goods-row-1 .goods-column .goods-list-tip {
	width: auto;
	height: auto;
	font-size: 0.24rem;
	color: #7b7f82;
	position: absolute;
	left: 0.2rem;
	top: 0.6rem;
}
.goods-main .goods-row-1 .goods-column .goods-list-image {
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
}
.goods-main .goods-row-2 {
	width: 100%;
	height: 3.2rem;
	overflow: hidden;
	display: flex;
}
.goods-main .goods-row-2 .goods-list {
	width: 25%;
	height: 100%;
	border-right: 1px solid #efefef;
}
.goods-main .goods-row-2 .goods-title {
	width: 100%;
	height: 0.4rem;
	overflow: hidden;
	font-size: 0.28rem;
	font-weight: 700;
	text-align: center;
	margin-top: 0.2rem;
}
.goods-main .goods-row-2 .goods-image {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.goods-main .goods-row-2 .price {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.28rem;
	color: #d32a4e;
	margin-top: 0.1rem;
}
.goods-main .goods-row-2 .price.line {
	color: #7b7f82;
	text-decoration: line-through;
	margin-top: 0;
}
.goods-main .goods-row-1 .goods-column-2 .goods-title {
	width: 95%;
	height: 0.32rem;
	overflow: hidden;
	font-size: 0.28rem;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.goods-main .goods-row-1 .goods-column-2 .goods-tip {
	width: auto;
	height: auto;
	font-size: 0.28rem;
	color: #7b7f82;
	text-align: center;
	margin-top: 0.1rem;
}
.goods-main .goods-row-1 .goods-column-2 .goods-image {
	width: 1.8rem;
	height: 2rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.goods-main .goods-row-1 .goods-column .goods-price.bg-color-1 {
	background-color: #5fc600;
}
.goods-recom-nav {
	width: 100%;
	height: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods-recom-nav .line {
	width: 35%;
	height: 1px;
	background-color: #d4d4d4;
}
.goods-recom-nav .recom-wrap {
	width: 1.8rem;
	height: 0.44rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods-recom-nav .recom-wrap .icon {
	width: 0.4rem;
	height: 0.4rem;
	background-image: url(../images/home/index/recom.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.goods-recom-nav .recom-wrap .text {
	width: auto;
	height: auto;
	font-size: 0.32rem;
	font-weight: 700;
}
.goods-recom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 0.2rem;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.goods-recom .goods-list {
	width: 48%;
	height: 4.5rem;
	background-color: #fff;
	margin-top: 0.2rem;
}
.goods-recom .goods-list .goods-image {
	width: 2.8rem;
	height: 2.8rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.goods-recom .goods-list .goods-title {
	width: 100%;
	height: 0.8rem;
	overflow: hidden;
	font-size: 0.28rem;
	margin-top: 0.1rem;
}
.goods-recom .goods-list .goods-price {
	width: auto;
	height: auto;
	font-size: 0.32rem;
	color: #d32a4e;
	margin-top: 0.1rem;
}
.search-component {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	background-color: #fff;
}
.search-component .search-header {
	width: 100%;
	height: 1rem;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
}
.search-component .search-header .close {
	width: 0.5rem;
	height: 0.5rem;
	background-image: url('../images/common/search_x.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.search-component .search-header .search-wrap {
	width: 78%;
	height: 0.64rem;
	border: 1px solid #b2b2b2;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
}
.search-component .search-header .search-wrap .search-input-wrap {
	width: 85%;
	height: 100%;
	border-right: 1px solid #b2b2b2;
}
.search-component .search-header .search-wrap .search {
	width: 80%;
	height: 78%;
	margin-left: 0.2rem;
	margin-top: 0.1rem;
	font-size: 0.28rem;
}
.search-component .search-header .search-wrap .search-btn {
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../images/common/search_icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #fff;
	border: 0 none;
	outline: none;
	margin-left: 0.15rem;
}
.search-component .search-main {
	width: 100%;
	margin-top: 0.2rem;
}
.search-component .search-main .search-title-wrap {
	width: auto;
	display: flex;
	justify-content: space-between;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.search-component .search-main .search-title-wrap .search-title {
	width: auto;
	font-size: 0.28rem;
}
.search-component .search-main .search-keywords-wrap {
	width: auto;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	margin-top: 0.3rem;
	flex-wrap: wrap;
}
.search-component .search-main .search-keywords-wrap .keywords {
	width: 26%;
	height: 0.6rem;
	color: #717376;
	border: 1px solid #efefef;
	border-radius: 0.64rem;
	font-size: 0.28rem;
	text-align: center;
	overflow: hidden;
	line-height: 0.6rem;
	margin-right: 1.3%;
	margin-left: 1.3%;
	margin-bottom: 0.2rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
}
.bottom-nav {
	width: 100%;
	height: 1.2rem;
	background-color: #fff;
	box-shadow: 0 0 10px #efefef;
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
	box-sizing: border-box;
}
.bottom-nav ul {
	width: 1rem;
	position: relative;
}
.bottom-nav ul .spot {
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background-color: #eb1625;
	border-radius: 100%;
}
.bottom-nav .home ul :first-child {
	background-image: url(../images/common/home1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.bottom-nav .active ul :first-child {
	background-image: url(../images/common/home2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.bottom-nav ul :first-child {
	width: 0.6rem;
	height: 0.6rem;
	margin: 0 auto;
}
.bottom-nav ul :nth-child(2) {
	font-size: 0.28rem;
	text-align: center;
}
.bottom-nav .home ul :nth-child(2) {
	color: #eb1625;
}
.bottom-nav .cart ul :first-child {
	background-image: url(../images/common/cart1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.bottom-nav .my ul :first-child {
	background-image: url(../images/common/my1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
