.page {
	width: 100%;
	height: 100vh;
	background-color: #fff;
}
.sub-header {
	width: 100%;
	height: 1rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #efefef;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	justify-content: space-between;
	padding: 0 0.1rem;
	box-sizing: border-box;
}
.sub-header .back {
	width: 0.8rem;
	height: 0.8rem;
	background-image: url('../images/common/left_arrow.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.sub-header .title {
	width: 79%;
	height: auto;
	font-size: 0.32rem;
	text-align: center;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.main {
	width: 100%;
	padding-top: 1.4rem;
}
.code-wrap,
.password-wrap {
	width: 90%;
	height: 0.84rem;
	margin: 0 auto;
	border-radius: 2px;
	border: 1px solid #efefef;
	margin-top: 0.4rem;
}
.password-wrap {
	display: flex;
}
.password-wrap .password {
	width: 80%;
	height: 100%;
}
.cellphone-wrap .cellphone input,
.code-wrap input,
.password input {
	width: 92%;
	height: 82%;
	font-size: 0.28rem;
	padding-left: 0.2rem;
}
.password input {
	width: 92%;
	height: 82%;
	font-size: 0.28rem;
	padding-left: 0.2rem;
}
.password-wrap .switch-wrap {
	width: 20%;
	margin-top: 0.1rem;
}
.van-switch {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	width: 2em;
	font-size: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	transition: background-color 0.3s;
}
.van-switch,
.van-switch_node {
	height: 1em;
	background-color: #fff;
}
.van-switch_node {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 1em;
	border-radius: 100%;
	box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%),
		0 3px 3px 0 rgb(0 0 0 / 5%);
	transition: transform 0.3s cubic-bezier(0.3, 1.05, 0.4, 1.05);
}
.sure-btn {
	width: 85%;
	height: 0.8rem;
	margin: 0 auto;
	background: #eb1625;
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.8rem;
	text-align: center;
	margin-top: 0.4rem;
	border-radius: 4px;
}
.fastreg-wrap {
	width: 85%;
	display: flex;
	justify-content: space-between;
	font-size: 0.24rem;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.fastreg-wrap img {
	width: 0.32rem;
	height: 0.32rem;
	vertical-align: middle;
}
.van-toast {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
	width: 210px;
	max-width: 100%;
	height: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	white-space: pre-wrap;
	text-align: center;
	word-wrap: break-word;
	background-color: rgba(50, 50, 51, 0.88);
	border-radius: 4px;
	transform: translate3d(-50%, -50%, 0);
}
